{% extends 'form_layout.html.twig' %}

{% block title %}Ajouter une marque{% endblock %}
{% block formtitle %}Ajouter une marque{% endblock %}

{% block form %}
    
    {{ include('brand/_form.html.twig') }}
    
    <a class="btn btn-outline-warning mt-3" href="{{ path('manage_brand_index') }}">
        <span class="fa fa-arrow-circle-left"></span>
    </a>
{% endblock %}
