<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	<title>{% block title %}{% endblock %}</title>
	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
</head>
<body>
{% block flashes %}
	{% include "_partials/flashes.html.twig" %}
{% endblock %}
{% block navbar %}
	{% include "_partials/navbar/navbar.html.twig" %}
{% endblock %}

<div class="container">
	{% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}
{% block scripts %}{% endblock %}
</body>
</html>
