{% extends 'form_layout.html.twig' %}

{% block title %}Modifier la section{% endblock %}
{% block formtitle %}Modifier la section{% endblock %}

{% block form %}
	
	{{ include('doc_section/_form.html.twig', {'button_label': 'Modifier'}) }}
	
	{{ include('doc_section/_delete_form.html.twig') }}
	
	<a class="btn btn-outline-warning mt-3" href="{{ path('doc_section_index') }}">
		<span class="fa fa-arrow-circle-left"></span>
	</a>
{% endblock %}
