{% extends 'form_layout.html.twig' %}

{% block title %}Ajouter section{% endblock %}
{% block formtitle %}Ajouter section{% endblock %}

{% block form %}
    
    {{ include('doc_section/_form.html.twig') }}
   
    <a class="btn btn-outline-warning mt-3" href="{{ path('doc_section_index') }}">
        <span class="fa fa-arrow-circle-left"></span>
    </a>
{% endblock %}
